body, #app .el-header{
    padding: 0;
}

html, body {
    margin: 0;
    --el-border-radius-large: 6px;
}

html, body, #app, .index-container {
    height: 100%;
}

.index-aside {
    border-right: solid 1px var(--el-menu-border-color);
}

.index-aside .el-menu {
    border-right: 0 none;
}

.common-el-tooltip {
    max-width: 500px;
}

.common-dropdown .el-dropdown-link {
    display: flex;
    align-items: center;
}

.el-dropdown-link:focus {
    outline: none;
}

.el-menu-left:not(.el-menu--collapse) {
    width: 250px;
    min-height: 400px;
}

.no-padding {
    padding: 0;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-main {
    padding: var(--el-main-padding);
}

.padding-left1 {
    padding-left: 5px;
}
.padding-left2 {
    padding-left: 10px;
}
.padding-left3 {
    padding-left: 15px;
}
.padding-right1 {
    padding-right: 5px;
}
.padding-right2 {
    padding-right: 10px;
}
.padding-right3 {
    padding-right: 15px;
}

.padding-top1 {
    padding-top: 5px;
}
.padding-top2 {
    padding-top: 10px;
}
.padding-top3 {
    padding-top: 15px;
}
.padding-bottom1 {
    padding-bottom: 5px;
}
.padding-bottom2 {
    padding-bottom: 10px;
}
.padding-bottom3 {
    padding-bottom: 15px;
}

.margin-bottom1 {
    margin-bottom: 5px;
}
.margin-bottom2 {
    margin-bottom: 10px;
}
.margin-bottom3 {
    margin-bottom: 15px;
}

.margin-left1 {
    margin-left: 5px;
}
.margin-left2 {
    margin-left: 10px;
}
.margin-left3 {
    margin-left: 15px;
}

.margin-right1 {
    margin-right: 5px;
}
.margin-right2 {
    margin-right: 10px;
}
.margin-right3 {
    margin-right: 15px;
}

.margin-top1 {
    margin-top: 5px;
}
.margin-top2 {
    margin-top: 10px;
}
.margin-top3 {
    margin-top: 15px;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-col{
    display: flex;
    align-items: center;
}

.el-dialog {
    --el-dialog-border-radius: var(--el-border-radius-large);
}

.icon-dialog .el-dialog__body {
    padding: 10px;
}

.el-dialog.is-fullscreen .el-dialog__header,
.el-dialog.is-fullscreen .el-dialog__footer{
    position: fixed;
    left: 0;
    right:0;
    z-index: 999;
    border-radius: 0;
}
.el-dialog.is-fullscreen .el-dialog__footer{
    bottom: var(--el-dialog-padding-primary);
}
.el-dialog.is-fullscreen .dialog-footer{
    border-radius: 0;
}
.el-dialog.is-fullscreen .el-dialog__body{
    padding: 48px 12px;
}

.icon-list::-webkit-scrollbar {
    z-index: 10;
    width: 6px;
}
.icon-list::-webkit-scrollbar-thumb {
    border-radius:5px;
    width:6px;
    background:var(--el-text-color-disabled)
}

.login-form .el-card__header{
    padding-top: 0;
    padding-bottom: 0;
}

.login-form .el-card__footer {
    text-align: center;
}

.no_flex {
    display: block;
}

.flex-column {
    flex-direction: column;
}

.flex-start {
    align-items: flex-start;
}

.home-main {
    padding-bottom: 0;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.reason-code-container .el-radio__label{
    white-space: break-spaces;
}

.common-tabs .el-tabs__new-tab {
    width: 50%;
    border: none;
    margin: 10px 10px 0 10px;
    justify-content: right;
}

.el-tabs__item.is-active {
    font-weight: bold;
}

.common-form.el-form--inline .el-select,
.common-subform.el-form--inline .el-select{
    --el-select-width: 200px;
}

.common-form.el-form--inline .el-input,
.common-subform.el-form--inline .el-input{
    --el-input-width: 200px;
    --el-date-editor-width: 200px;
}

.common-form-small.common-form.el-form--inline .el-select{
    --el-select-width: 160px;
}

.common-form-small.common-form.el-form--inline .el-input{
    --el-input-width: 160px;
    --el-date-editor-width: 160px;
}

.form-edit-width-70 {
    width:70%
}

.form-edit-width-90 {
    width:90%
}

.form-edit-width-100 {
    width:100%
}

.form-edit-width-70 .el-select:not(:is(.el-form--inline .el-select,.el-pagination .el-select)),
.form-edit-width-90 .el-select:not(:is(.el-form--inline .el-select,.el-pagination .el-select)),
.form-edit-width-100 .el-select:not(:is(.el-form--inline .el-select,.el-pagination .el-select)){
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.common-autocomplete .el-popover__title{
    font-size: 14px;
    font-weight: 600;
}

.common-autocomplete .autocomplete-table .el-table__cell{
    padding: 3px 0;
    cursor: pointer;
}

.common-autocomplete .el-tabs__nav-next, .el-tabs__nav-prev {
    line-height: 30px;
}

.common-autocomplete .common-select-page .el-tabs__item {
    height: 30px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.common-autocomplete .common-select-page .common-select-page-btn {
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 5px;
}

.common-autocomplete .common-select-page .el-tabs__content {
    padding: 5px;
}

.common-hide-expand.el-table .el-table__expand-icon {
    display: none;
}

.exchange-button {
    position: absolute;
    right: -20px;
}

.small-card .el-card__header{
    padding: 10px;
}

.small-card.el-card {
    margin-bottom: 15px;
}

.table-card .el-card__body {
    padding: 0;
}

.product-book-card .el-card__body {
    padding: 10px;
}

.operation-card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.common-data-row label {
    font-weight: 600 ;
}

.common-data-row .el-col {
    padding: 3px 0;
}

.el-dropdown+.el-button {
    margin-left: 12px;
}

.segment-label {
    font-weight: 600;
}

.common-form-auto {
    display: flex;
    flex-wrap: wrap;
}

.common-form-auto .el-form-item {
    flex-grow: 1;
    flex-basis: 0;
}

.common-form-auto .el-form-item__content {
    height: 32px;
}

.common-form-auto .el-form--inline .el-input,
.common-form-auto.el-form--inline .el-input,
.common-form-auto .el-form--inline .el-select,
.common-form-auto.el-form--inline .el-select {
    --el-input-width: 100%;
    --el-date-editor-width: 100%;
}

.common-form-auto.el-form--inline .el-form-item,
.common-form-auto .el-form--inline .el-form-item {
    margin-right: 10px;
}

.el-form-item.is-required .common-form-label .common-form-label-text:before {
    content: "*";
    color: var(--el-color-danger);
    margin-right: 4px;
}

.common-message-alert .el-message-box__btns,
.common-message-confirm .el-message-box__btns {
    justify-content: center;
    flex-direction: row-reverse;
}

.common-message-confirm .el-message-box__btns .el-button+.el-button{
    margin-right: 12px;
}

.flex-grow2 {
    flex-grow: 2;
}

/**
 * slide-fade动画
 */
.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

.flex-grow {
    flex-grow: 1;
}
